@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

:root {
  font-family: Playfair Display, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --standard-color-black: #0A0908;
  --standard-color-blue: #22333B;
  --standard-color-white: #EAE0D5;
  --standard-color-light-brown: #C6AC8E;
  --standard-color-dark-brown: #5E503F;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to left, var(--standard-color-light-brown), var(--standard-color-white));
  color: var(--standard-color-black)
}
